* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border: 2px solid #000000;
  background-color: rgb(253, 164, 0);
  margin: 400px 600px;
  
}

th,td{
   padding: 5px;
   border: 2px solid #000000;
}

tbody{
   background-color: rgb(235, 178, 72);
}

img{
   width: 80px;

}

main{
   height: 100px;
   background-color: #000000;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   
}
.quarty{
   background-color: #000000;
   border: 1px solid #53c28b;
   border-radius: 30px;
}
button{
   color: white;
   background-color: #53c28b;
    height: 30px;
    width: 50px;
    border: none;
    border-radius: 3px;
}
a{
   text-decoration: none;
   color: white;
}